<% content_for :title do %>Euclides Fernandes<% end %>
<% content_for :description do %>Website of Euclides Fernandes<% end %>
<section>
	<img src="https://dl.dropboxusercontent.com/u/17609865/public_assets/railsway.jpg">
</section>
<section>
	<div class="column">
		<h2>Get in touch.</h2>
	</div>
	<div class="column">
		<div class="form-centered">
			<%= simple_form_for @visitor do |f| %>
				<%= f.error_notification %>
				<%= f.input :email, label: false, :placeholder => 'Your email address...' %>
				<%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
			<% end %>
		</div>
	</div>
</section>