<% content_for :title do %>About<% end %>
<h3>About Euclides Fernandes</h3>
<p>I'm Euclides Fernandes, I work with Web Development, not strictly RoR, I like to try different web technologies and languages to take a view point of where each of them can help me better to solve a specific problem.</p>
<p>My favorite quotation is:</p>
<p>We should fight for our rights because, as <cite>Ezra Pound</cite> said,
<q>If a man isn't willing to take some risk for his opinions, either his 
opinions are no good or he's no good.</q></p>

