<% content_for :title do %>About<% end %>
<h3>About Euclides Fernandes</h3>
<p>I was born in Luanda, Angola. I left Angola for Brasil, excelled at Faculdades Sao Jose of RJ.</p>
<p>My favorite quotation is:</p>
<p>We should fight for our rights because, as <cite>Ezra Pound</cite> said,
<q>If a man isn't willing to take some risk for his opinions, either his 
opinions are no good or he's no good.</q></p>